body{
  background-color: #206a5d;
}
.ai {
  
  float: left;
  background-color: #ffcc29;
  border: solid #81b214 1px;
  
  width: 200px;
  height: 200px;
}

.sw {
  visibility: hidden;
}

.vl {
  float: left;
}
.buttons {
  margin-left: calc(50% - 200px);
  align-self: center;
}